package navbar

import (
	"github.com/nosvagor/hgmx-builder/views/components/display/button"
	"github.com/nosvagor/hgmx-builder/views/components/display/icon"
)

templ Bookmarks(links []PageLink) {
	if links != nil {
		<bookmarks class="flex overflow-hidden gap-2 items-center font-medium font-display">
			for _, link := range links {
				@button.Get(link.Path, icon.Text(link.Icon, link.Label))
			}
		</bookmarks>
	}
}
