package navbar

templ Bookmarks(links []templ.Component) {
	if links != nil {
		<nav
			id="bookmarks"
			class="flex overflow-hidden gap-2 items-center font-medium font-display"
			hx-target="#main"
			hx-swap="outerHTML"
			hx-push-url="true"
		>
			for _, link := range links {
				@link
			}
		</nav>
	}
}

templ ExpandedBookmarks(links []templ.Component) {
	if links != nil {
		<div
			id="expanded-bookmarks"
			class="flex flex-col gap-4 items-start"
			hx-target="#main"
			hx-swap="outerHTML"
			hx-push-url="true"
		>
			for _, link := range links {
				@link
			}
		</div>
	}
}
