package navbar

import "github.com/nosvagor/hgmx-builder/views/components/display/icon"

templ Bookmarks(links *[]PageLink) {
	if links != nil {
		<bookmarks class="flex items-center overflow-hidden font-medium font-display">
			for _, link := range *links {
				<bookmark hx-get={ link.Path } tabindex="0" class="ml-3 cursor-pointer bookmark_item whitespace-nowrap hover:text-primary-401 first:ml-0 hover:bg-base-400">
					@icon.IconText(icon.TextBasic(link.Icon, link.Label))
				</bookmark>
			}
		</bookmarks>
	}
}
