package navbar

templ NavMenu(p *Props) {
	<div
		id="nav-menu"
		tabindex="0"
		class="flex relative justify-center items-center w-10 h-10 rounded-full cursor-pointer outline-none bg-base-600 text-secondary-601 hover:text-primary-401"
		_="
		on click or keydown[key is 'Enter' or key is ' ']
			halt the event
			toggle .menu-open on me
			call window.toggleMenu()
		end

		on click from elsewhere
			if me.matches('.menu-open')
				remove .menu-open from me
				call window.toggleMenu()
			end
		end

		on keydown[key is 'Escape'] from window
			if me.matches('.menu-open')
				remove .menu-open from me
				call window.toggleMenu()
				exit
			end

			if not window.__lastEscapeTime then set window.__lastEscapeTime to 0 end
			set now to Date.now()
			if now - window.__lastEscapeTime < 400
				add .menu-open to me
				call window.toggleMenu()
				set window.__lastEscapeTime to 0
			else
				set window.__lastEscapeTime to now
			end
		end
	"
	>
		<svg viewBox="0 0 32 32" class="overflow-visible w-6 h-6">
			<path id="icon-p1" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" d="M 9,8 C 9,0, 23,0, 23,8"></path>
			<path id="icon-p2" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" d="M 9,8 C 9,16, 23,16, 23,8"></path>
			<path id="icon-p3" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" d="M 6,26 C 6,18, 26,18, 26,26"></path>
		</svg>
	</div>
}

templ ExpandedNavMenu(links []templ.Component, settings templ.Component) {
	if links != nil {
		<div id="expanded-nav-menu" class="fixed inset-0 z-40 pointer-events-none">
			<div id="menu-backdrop" class="absolute inset-0 opacity-0 bg-black/25"></div>
			<div id="menu-bg" class="flex absolute top-0 -right-10 flex-col justify-between p-10 pt-16 pr-20 pb-8 h-full shadow-2xl min-w-fit bg-base-600" style="transform: translateX(100%)">
				@ExpandedBookmarks(links)
				<div id="menu-settings" class="flex flex-col gap-4 items-end">
					@settings
				</div>
			</div>
		</div>
	}
}
