package icons

var rssHandle = templ.NewOnceHandle()

templ rss() {
	@rssHandle.Once() {
		<script type="module">
        import { animate, stagger } from "/static/scripts/vendor/motion.min.js";
		window.rssAnimate = (el) => {
			const elements = Array.from(el.querySelectorAll('circle, path'));
			animate( elements, { scale: [0, 1.25, 1], opacity: [0, 1] }, { delay: stagger(0.1), duration: 0.42, ease: "easeOut" });
		}
	</script>
	}
	<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
		<circle cx="5" cy="19" r="1"></circle>
		<path d="M4 11a9 9 0 0 1 9 9"></path>
		<path d="M4 4a16 16 0 0 1 16 16"></path>
	</svg>
}
