package nav

import (
	"github.com/nosvagor/hgmx-builder/internal/utils"
	"github.com/nosvagor/hgmx-builder/views/components"
	"github.com/nosvagor/hgmx-builder/views/components/icon/icons"
)

type Props struct {
	components.Standard

	Bookmarks       []Link
	BookmarksMobile [3]Link
	Account         Link
	Settings        Link

	Logo   templ.Component
	Source templ.Component
}

func (p *Props) RemainingBookmarks() []Link {
	var remaining []Link
	mobileSet := make(map[string]bool)

	for _, mobileLink := range p.BookmarksMobile {
		mobileSet[mobileLink.Path] = true
	}

	for _, bookmark := range p.Bookmarks {
		if !mobileSet[bookmark.Path] {
			remaining = append(remaining, bookmark)
		}
	}

	return remaining
}

type Link struct {
	Path  string
	Icon  *icons.Icon
	Label string
}

func (l *Link) Route() string {
	return "/" + l.Path
}

func (l *Link) Text() string {
	if l.Label != "" {
		return l.Label
	}

	return utils.Title(l.Path)
}

templ (p *Props) Render() {
	// pinned sidebar 
	@p.Menu()
	@p.Navbar()
	@p.MobileNav()
	// telescope/find?
	// command?
}
