package app

templ Brand(name string) {
	<brand
		class="text-lg font-semibold tracking-tight font-display"
	>
		<a href="/" class="transition-colors hover:text-primary-400">
			{ name }
		</a>
	</brand>
}
