package display

import (
	"fmt"
	"github.com/nosvagor/hgmx-builder/views/shared/icons"
)

func triggerAnimation(icon *icons.Icon) string {
	return fmt.Sprintf(`on mouseenter get first <svg/> in me then call %sAnimate(it)`, icon.Name)
}

type IconTextProps struct {
	Icon      *icons.Icon
	Text      string
	NoAnimate bool
}

templ IconText(p *IconTextProps) {
	if p.Icon != nil {
		<iconText
			class="flex items-center gap-1"
			if !p.NoAnimate {
				_={ triggerAnimation(p.Icon) }
			}
		>
			@p.Icon.Render()
			<span>{ p.Text }</span>
		</iconText>
	}
}
