package views

import "github.com/nosvagor/hgmx-builder/views/utils/include"

templ Full(content, navbar templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="htmx-config" content='{"refreshOnHistoryMiss": true, "historyRestoreAsHxRequest": false}'/>
			@Favicon()
			@include.Style("main.min.css")
			@include.Script("htmx.min.js")
			@include.DeferedScript("htmx-ext-sse.js")
			@include.DeferedScript("htmx-ext-preload.js")
			@include.DeferedScript("hyperscript.min.js")
			@include.ModuleScript("motion.min.js")
		</head>
		<body hx-ext="preload">
			@navbar
			@content
			@Footer()
		</body>
	</html>
}

templ Title(title string) {
	if len(title) > 0 {
		<title>{ title } - hgmx</title>
	}
}

templ Main(content templ.Component, title string) {
	@Title(title)
	<main
		hx-history-elt
		id="main"
		class="w-[98%] max-w-7xl mx-auto mb-4 px-2 flex flex-1 flex-col"
	>
		@content
	</main>
}

templ Footer() {
	<footer class="flex flex-col justify-start items-center py-4 text-sm h-fit">
		<div class="flex flex-row gap-4 justify-center items-center">
			<a href="https://github.com/nosvagor">
				github.com/nosvagor
			</a>
			<a href="https://x.com/nosvagor">
				x.com/nosvagor/
			</a>
		</div>
	</footer>
}

templ Favicon() {
	<link rel="icon" type="image/png" href="static/favicon/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/svg+xml" href="static/favicon/favicon.svg"/>
	<link rel="shortcut icon" href="static/favicon/favicon.ico"/>
	<link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png"/>
	<link rel="manifest" href="/static/favicon/site.webmanifest"/>
}
