package footer

templ (p *Props) Render() {
	<footer class="hidden md:flex flex-col justify-start items-center py-4 text-sm h-fit">
		<div class="flex flex-row gap-4 justify-center items-center">
			<a href="https://github.com/nosvagor">
				github.com/nosvagor
			</a>
			<a href="https://x.com/nosvagor">
				x.com/nosvagor/
			</a>
		</div>
	</footer>
}
