package home

import "github.com/nosvagor/hgmx-builder/views/components/app/logo"

templ Main() {
	<div class="text-7xl md:text-9xl flex items-center justify-center w-full my-8">
		@logo.Full().Render()
	</div>
}
