package icons

func Question() *Icon {
	return &Icon{
		Name:         "question",
		handler:      templ.NewOnceHandle(),
		script:       questionAnimation,
		svg:          questionContent,
		Tags:         []string{"question", "help", "support", "unknown"},
		Categories:   []string{"communication"},
		Contributors: []string{"nosvagor", "lucide"},
		Aliases:      []string{"help"},
	}
}

templ questionAnimation() {
	<script type="module">
		import { animate } from "/static/scripts/motion.min.js";
		window.questionAnimate = (el) => {
			const circle = el.querySelector('circle');
			animate(circle,
				{ pathLength: [0, 1] },
				{ duration: 0.42, easing: "easeInOut" }
			);

			const questionMark = el.querySelectorAll('path');
			animate(questionMark,
				{ rotateY: [0, 360] },
				{ duration: 0.69, type: "easeInOut" }
			);
		}
	</script>
}

templ questionContent() {
	@svg() {
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
		<path d="M12 17h.01"></path>
	}
}
