package icons

func Scroll() *Icon {
	return &Icon{
		Name:         "scroll",
		handler:      templ.NewOnceHandle(),
		script:       scrollAnimation,
		svg:          scrollContent,
		Tags:         []string{"scroll", "docs", "text", "info"},
		Categories:   []string{"text", "files"},
		Contributors: []string{"nosvagor", "lucide"},
	}
}

templ scrollAnimation() {
	<script type="module">
		import { animate, stagger } from "/static/scripts/motion.min.js";
			window.scrollAnimate = (el) => {
				const paths = el.querySelectorAll('path');

				const scrollPaths = [paths[2], paths[3]];
				animate(scrollPaths, 
					{ y: [-20, 5, 0] }, 
					{ type: "spring", bounce: 0.42, duration: 0.69 }
				);
				animate(scrollPaths, 
					{ pathLength: [0, 1] }, 
					{ duration: 0.42, ease: "easeInOut" }
				);

				const textPaths = [paths[0], paths[1]];
				animate(textPaths,
					{ opacity: [0, 1], x: [-3, 0], y: [-2, 0] },
					{ delay: stagger(0.15), duration: 0.42, ease: "anticipate" },
				);
			};
	</script>
}

templ scrollContent() {
	@svg() {
		<path d="M15 8h-5"></path>
		<path d="M15 12h-5"></path>
		<path d="M19 17V5a2 2 0 0 0-2-2H4"></path>
		<path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"></path>
	}
}
