package icons

func Settings() *Icon {
	return &Icon{
		Name:    "settings",
		handler: templ.NewOnceHandle(),
		script:  settingsAnimation,
		svg:     settingsContent,
	}
}

templ settingsAnimation() {
	<script type="module">
		import { animate } from "/static/scripts/motion.min.js";
		window.settingsAnimate = (el) => {
            const innerGear = el.querySelectorAll('circle');
			animate(innerGear, 
				{ scale: [0, 1], opacity: [0, 1] },
				{ type: "spring", bounce: 0.25, duration: 0.42 }
			);

			const outerGear = el.querySelector('path');
			const Θ = Number(el.dataset.rotation || 0);
			const Δ = Θ + 180 + Math.random() * 30;
			el.dataset.rotation = Δ;
			animate(outerGear, 
                { rotate: [Θ, Δ] }, 
                { duration: 0.42, ease: "easeOut" }
            );
			animate(outerGear, 
				{ scale: [0, 1.5, 1], opacity: [0, 1] },
				{ type: "spring", bounce: 0.42, duration: 0.69 }
			);
		};
	</script>
}

templ settingsContent() {
	@svg() {
		<path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
		<circle cx="12" cy="12" r="3"></circle>
	}
}
