package icons

func UserPlus() *Icon {
	return &Icon{
		Name:         "userPlus",
		handler:      templ.NewOnceHandle(),
		script:       userPlusAnimation,
		svg:          userPlusContent,
		Tags:         []string{"user", "add", "plus", "invite", "new"},
		Categories:   []string{"people", "account"},
		Contributors: []string{"nosvagor", "lucide"},
	}
}

templ userPlusAnimation() {
	<script type="module">
        import { animate, stagger } from "/static/scripts/motion.min.js";
		window.userPlusAnimate = (el) => {
			const body = el.querySelector('path');
			animate(body, 
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: 0.42, ease: "easeOut" }
			);

			const head = el.querySelector('circle');
			animate(head, 
				{ translateY: [1, -2, 0] },
				{ duration: 0.27, delay: 0.42, ease: "easeOut" }
			);
            
			const plus = el.querySelectorAll('line');
			animate(plus, 
				{ scale: [0, 1.25, 1], rotate: [0, 180] },
				{ duration: 0.42, delay: 0.27, ease: "easeOut" }
			);
		}
	</script>
}

templ userPlusContent() {
	@svg() {
		<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
		<circle cx="9" cy="7" r="4"></circle>
		<line x1="20" x2="20" y1="8" y2="14"></line>
		<line x1="23" x2="17" y1="11" y2="11"></line>
	}
}
