package icons

func UserSearch() *Icon {
	return &Icon{
		Name:         "userSearch",
		handler:      templ.NewOnceHandle(),
		script:       userSearchAnimation,
		svg:          userSearchContent,
		Tags:         []string{"user", "search", "find", "filter"},
		Categories:   []string{"people", "tools"},
		Contributors: []string{"nosvagor", "lucide"},
	}
}

templ userSearchAnimation() {
	<script type="module">
        import { animate } from "/static/scripts/motion.min.js";
		window.userSearchAnimate = (el) => {
			const searchGroup = el.querySelector('g.search');
			animate(searchGroup, 
				{ scale: [1.35, 1] },
				{ duration: 0.69, ease: "easeOut" }
			);
			animate(searchGroup, 
				{ 
					translateX: [0, -10, 2, 0], 
					translateY: [0, -6, -5, 0]
				},
				{ duration: 0.69, ease: "easeOut" }
			);

			const head = el.querySelector('circle[cx="10"]');
			animate(head, 
				{ translateY: [1, 1, -2, 0], opacity: [0, 1] },
				{ duration: 0.42, delay: 0.27, ease: "easeOut" }
			);

			const body = el.querySelector('path[d*="15H7"]');
			animate(body, 
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: 0.27, delay: 0.42, ease: "easeOut" }
			);
		}
	</script>
}

templ userSearchContent() {
	@svg() {
		<circle cx="10" cy="7" r="4"></circle>
		<path d="M10.3 15H7a4 4 0 0 0-4 4v2"></path>
		<g class="search">
			<circle cx="17" cy="17" r="3"></circle>
			<path d="m22 22-2.5-2.5"></path>
		</g>
	}
}
