package icons

func Rss() *Icon {
	return &Icon{
		Name:    rss,
		Handler: templ.NewOnceHandle(),
		Script:  rssAnimation,
		Icon:    rssContent,
	}
}

templ rssAnimation() {
	<script type="module">
		import { animate, stagger, easeOut } from "/static/scripts/motion.min.js";
		window.rssAnimate = (el) => {
			const elements = Array.from(el.querySelectorAll('circle, path'));
			animate(elements,
				{ scale: [0, 1.5, 1], opacity: [0, 1] },
				{ delay: stagger(0.09), easeOut }
			);
		}
	</script>
}

templ rssContent() {
	@SVG() {
		<circle cx="5" cy="19" r="1" fill="currentColor"></circle>
		<path d="M4 11a9 9 0 0 1 9 9"></path>
		<path d="M4 4a16 16 0 0 1 16 16"></path>
	}
}
