package icons

func UserX() *Icon {
	return &Icon{
		Name:    "userX",
		Handler: templ.NewOnceHandle(),
		Script:  userXAnimation,
		Icon:    userXContent,
	}
}

templ userXAnimation() {
	<script type="module">
        import { animate, stagger, easeOut } from "/static/scripts/motion.min.js";
		window.userXAnimate = (el) => {
			const τmax = 0.42, τmid = 0.27, τmin = 0.15;

			const body = el.querySelector('path');
			animate(body,
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: τmax, easeOut }
			);

			const x = el.querySelectorAll('line');
			animate(x,
				{ scale: [0, 1.25, 1], rotate: [0, 180] },
				{ duration: τmid, delay: τmin, easeOut }
			);

			const head = el.querySelector('circle');
			animate(head,
				{ translateY: [1, -2, 0] },
				{ duration: τmin, delay: τmid, easeOut }
			);
		}
	</script>
}

templ userXContent() {
	@SVG() {
		<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
		<circle cx="9" cy="7" r="4"></circle>
		<line x1="18" x2="23" y1="8" y2="13"></line>
		<line x1="23" x2="18" y1="8" y2="13"></line>
	}
}
