package icons

func UserCheck() *Icon {
	return &Icon{
		Name:    "userCheck",
		Handler: templ.NewOnceHandle(),
		Script:  userCheckAnimation,
		Icon:    userCheckContent,
	}
}

templ userCheckAnimation() {
	<script type="module">
        import { animate, easeOut } from "/static/scripts/motion.min.js";
		window.userCheckAnimate = (el) => {
			const τmax = 0.42, τmid = 0.27, τmin = 0.15;

			const body = el.querySelector('path[d*="21v-2"]');
			animate(body,
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: τmid, easeOut }
			);

			const checkmark = el.querySelector('path[d*="17 11"]');
			animate(checkmark,
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: τmid, easeOut }
			);
			animate(checkmark,
				{ scale: [1, 1.25, 1] },
				{ duration: τmin, delay: τmid, easeOut }
			);

			const head = el.querySelector('circle');
			animate(head,
				{ translateY: [1, -2, 0] },
				{ duration: τmin, delay: τmid, easeOut }
			);
		}
	</script>
}

templ userCheckContent() {
	@SVG() {
		<path d="m17 11 2 2 4-4"></path>
		<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
		<circle cx="9" cy="7" r="4"></circle>
	}
}
