package icon

import (
	"fmt"
	"strings"
)

func (p *Props) hyprscript() string {
	b := strings.Builder{}
	if !p.NoAnimate {
		b.WriteString(fmt.Sprintf(`on hovered get first <svg/> in me then call %sAnimate(it) end`, p.Icon.Name))
	}
	if p.Tooltip != nil {
		if !p.NoAnimate {
			b.WriteString(" ")
		}
		b.WriteString(`on hovered get first <tooltip/> in me then call positionTooltip(it) then wait 200ms end`)
	}
	return b.String()
}

var tooltipScript = templ.NewOnceHandle()

templ (p *Props) javascript() {
	if p.Tooltip != nil {
		@tooltipScript.Once() {
			<script>
				window.positionTooltip = (tooltip) => {
					console.log('positionTooltip', tooltip);
				}

				window.hideTooltip = (tooltip) => {
					console.log('hideTooltip', tooltip);
				}
			</script>
		}
	}
}

templ (p *Props) Render() {
	<div
		class={ p.Styler.Build("flex relative gap-1 items-center") }
		_={ p.hyprscript() }
	>
		@p.Icon.Render()
		@p.RenderContent()
		@p.RenderTooltip()
		@p.javascript()
	</div>
}
