package telescope

import "github.com/nosvagor/hgmx-builder/views/components/layout/modals"

templ Render() {
	<telescope>
		@Trigger()
		@modals.Render(&modals.Props{ID: "telescope", Event: "telescope:open"})
	</telescope>
}
