package telescope

templ Trigger() {
	<telescopeTrigger
		class="flex justify-between items-center py-1 pr-6 pl-2 w-20 text-xs rounded-lg transition-colors cursor-pointer outline-none bg-base-600 text-secondary-601 hover:text-primary-401"
		_="
			on click
				halt the event
				send telescope:open
			end
		"
	>
		<svg class="mr-1.5 h-4 min-w-4" viewBox="0 0 24 24" fill="currentColor">
			<rect x="6" y="9" width="8" height="4" rx="1" transform="rotate(-25 10 11)"></rect>
			<rect x="2" y="12.5" width="3" height="3" rx="1" transform="rotate(-25 3.5 13)"></rect>
			<rect x="15" y="5" width="4" height="6" rx="2" transform="rotate(-25 17 9)"></rect>
			<rect x="8.5" y="14" width="1.5" height="6" rx="0.75" transform="rotate(20 9.25 17)"></rect>
			<rect x="13" y="13" width="1.5" height="7" rx="0.75" transform="rotate(-20 13.75 17)"></rect>
		</svg>
		<kbd
			class="text-[0.8em]"
			_="
				init
					if navigator.platform.toUpperCase().indexOf('MAC') >= 0
						put '⌘K' into me
					else
						put 'Ctrl+K' into me
					end
				end
				on click
					halt the event
					send telescope:open
				end
				on keydown[metaKey and key is 'k'] from window
					halt the event
					send telescope:open
				end
				on keydown[ctrlKey and key is 'k'] from window
					halt the event
					send telescope:open
				end
			"
		>Ctrl+K</kbd>
	</telescopeTrigger>
}
