package tooltip

import "github.com/nosvagor/hgmx-builder/views/components"

templ Render(c components.Customizable) {
	<div class="hidden absolute z-50 p-2 text-xs whitespace-nowrap rounded-md shadow-lg pointer-events-none bg-base-900 text-base-100">
		@c.Render()
	</div>
}
