package include

import "path/filepath"

templ (p *Props) Render() {
	switch p.Html {
		case SCRIPT:
			if p.Module {
				<script src={ "static/scripts/" + p.Path + getFileHash(filepath.Join("scripts", p.Path)) } defer={ p.Defer } type="module"></script>
			} else {
				<script src={ "static/scripts/" + p.Path + getFileHash(filepath.Join("scripts", p.Path)) } defer={ p.Defer }></script>
			}
		case STYLE:
			<link rel="stylesheet" href={ "static/css/" + p.Path + getFileHash(filepath.Join("css", p.Path)) }/>
	}
}
