package icons

func Palette() *Icon {
	return &Icon{
		Name:    "palette",
		handler: templ.NewOnceHandle(),
		script:  PaletteAnimation,
		svg:     PaletteContent,
	}
}

templ PaletteAnimation() {
	<script type="module">
        import { animate, stagger } from "/static/scripts/motion.min.js";
		window.paletteAnimate = (el) => {
			const path = el.querySelector('path');
			animate(path, 
				{ scale: [0, 1], opacity: [0, 1] },
				{ type: "spring", bounce: 0.22, duration: 0.69 }
			);
			animate(path, 
				{ pathLength: [0, 1] },
				{ duration: 0.25, ease: "easeInOut" }
			);

			const circles = el.querySelectorAll('circle');
			animate(circles, 
				{ scale: [0, 1], opacity: [0, 1] }, 
				{ delay: stagger(0.069), duration: 0.25, ease: "easeInOut" }
			);
		}
	</script>
}

templ PaletteContent() {
	@svg() {
		<path d="M12 22a1 1 0 0 1 0-20 10 9 0 0 1 10 9 5 5 0 0 1-5 5h-2.25a1.75 1.75 0 0 0-1.4 2.8l.3.4a1.75 1.75 0 0 1-1.4 2.8z"></path>
		<circle cx="6.5" cy="12.5" r=".5" fill="currentColor"></circle>
		<circle cx="8.5" cy="7.5" r=".5" fill="currentColor"></circle>
		<circle cx="13.5" cy="6.5" r=".5" fill="currentColor"></circle>
		<circle cx="17.5" cy="10.5" r=".5" fill="currentColor"></circle>
	}
}
