package icons

func UserStar() *Icon {
	return &Icon{
		Name:    "userStar",
		handler: templ.NewOnceHandle(),
		script:  userStarAnimation,
		svg:     userStarContent,
	}
}

templ userStarAnimation() {
	<script type="module">
        import { animate } from "/static/scripts/motion.min.js";
		window.userStarAnimate = (el) => {
			const body = el.querySelector('path[d*="8 15H7"]');
			animate(body, 
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: 0.27, ease: "easeOut" }
			);

			const star = el.querySelector('path[d*="16.051"]');
			animate(star, 
				{ scale: [0, 1.25, 1], rotate: [0, 360] },
				{ duration: 0.42, delay: 0.27, ease: "easeOut" }
			);

			const head = el.querySelector('circle');
			animate(head, 
				{ translateY: [1, -2, 0] },
				{ duration: 0.27, delay: 0.42, ease: "easeOut" }
			);
		}
	</script>
}

templ userStarContent() {
	@svg() {
		<path d="M16.051 12.616a1 1 0 0 1 1.909.024l.737 1.452a1 1 0 0 0 .737.535l1.634.256a1 1 0 0 1 .588 1.806l-1.172 1.168a1 1 0 0 0-.282.866l.259 1.613a1 1 0 0 1-1.541 1.134l-1.465-.75a1 1 0 0 0-.912 0l-1.465.75a1 1 0 0 1-1.539-1.133l.258-1.613a1 1 0 0 0-.282-.866l-1.156-1.153a1 1 0 0 1 .572-1.822l1.633-.256a1 1 0 0 0 .737-.535z"></path>
		<path d="M8 15H7a4 4 0 0 0-4 4v2"></path>
		<circle cx="10" cy="7" r="4"></circle>
	}
}
