package icons

func User() *Icon {
	return &Icon{
		Name:    "user",
		handler: templ.NewOnceHandle(),
		script:  userAnimation,
		svg:     userContent,
	}
}

templ userAnimation() {
	<script type="module">
        import { animate } from "/static/scripts/motion.min.js";
		window.userAnimate = (el) => {	
			const body = el.querySelector('path');
			animate(body, 
				{ pathLength: [0, 1], opacity: [0, 1] },
				{ duration: 0.42, ease: "easeOut" }
			);
			
			const head = el.querySelector('circle');
			animate(head, 
				{ translateY: [1, -2, 0] },
				{ duration: 0.27, delay: 0.42, ease: "easeOut" }
			);
		}
	</script>
}

templ userContent() {
	@svg() {
		<circle cx="12" cy="7" r="4"></circle>
		<path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
	}
}
