:root {
  --base-50: oklch(0.49 0.096 276.31);
  --base-100: oklch(0.44 0.085 276.31);
  --base-200: oklch(0.4 0.075 276.31);
  --base-300: oklch(0.36 0.064 276.31);
  --base-400: oklch(0.32 0.053 276.31);
  --base-500: oklch(0.29 0.043 276.31);
  --base-600: oklch(0.27 0.032 276.31);
  --base-700: oklch(0.26 0.029 276.31);
  --base-800: oklch(0.24 0.027 276.31);
  --base-900: oklch(0.21 0.024 276.31);
  --base-950: oklch(0.18 0.021 276.31);

  --surface-50: oklch(0.98 0.048 276.31);
  --surface-100: oklch(0.93 0.044 276.31);
  --surface-200: oklch(0.9 0.04 276.31);
  --surface-300: oklch(0.87 0.036 276.31);
  --surface-400: oklch(0.85 0.032 276.31);
  --surface-500: oklch(0.82 0.041 276.31);
  --surface-600: oklch(0.77 0.05 276.31);
  --surface-700: oklch(0.72 0.059 276.31);
  --surface-800: oklch(0.67 0.067 276.31);
  --surface-900: oklch(0.61 0.076 276.31);
  --surface-950: oklch(0.56 0.085 276.31);

  --rose-50: oklch(0.96 0.025 000.08);
  --rose-100: oklch(0.92 0.052 000.08);
  --rose-200: oklch(0.86 0.093 000.08);
  --rose-300: oklch(0.81 0.135 000.08);
  --rose-400: oklch(0.75 0.177 000.08);
  --rose-500: oklch(0.7 0.218 000.08);
  --rose-600: oklch(0.64 0.26 000.08);
  --rose-700: oklch(0.54 0.208 000.08);
  --rose-800: oklch(0.45 0.155 000.08);
  --rose-900: oklch(0.35 0.103 000.08);
  --rose-950: oklch(0.29 0.072 000.08);

  --berry-50: oklch(0.96 0.025 007.5);
  --berry-100: oklch(0.91 0.051 007.5);
  --berry-200: oklch(0.86 0.092 007.5);
  --berry-300: oklch(0.8 0.133 007.5);
  --berry-400: oklch(0.75 0.173 007.5);
  --berry-500: oklch(0.69 0.214 007.5);
  --berry-600: oklch(0.64 0.255 007.5);
  --berry-700: oklch(0.54 0.204 007.5);
  --berry-800: oklch(0.44 0.153 007.5);
  --berry-900: oklch(0.35 0.101 007.5);
  --berry-950: oklch(0.29 0.072 007.5);

  --cherry-50: oklch(0.96 0.025 015.01);
  --cherry-100: oklch(0.91 0.051 015.01);
  --cherry-200: oklch(0.86 0.091 015.01);
  --cherry-300: oklch(0.8 0.132 015.01);
  --cherry-400: oklch(0.75 0.172 015.01);
  --cherry-500: oklch(0.69 0.213 015.01);
  --cherry-600: oklch(0.64 0.253 015.01);
  --cherry-700: oklch(0.54 0.203 015.01);
  --cherry-800: oklch(0.44 0.152 015.01);
  --cherry-900: oklch(0.35 0.101 015.01);
  --cherry-950: oklch(0.29 0.071 015.01);

  --ruby-50: oklch(0.96 0.025 021.96);
  --ruby-100: oklch(0.91 0.05 021.96);
  --ruby-200: oklch(0.85 0.09 021.96);
  --ruby-300: oklch(0.8 0.13 021.96);
  --ruby-400: oklch(0.74 0.169 021.96);
  --ruby-500: oklch(0.68 0.209 021.96);
  --ruby-600: oklch(0.62 0.249 021.96);
  --ruby-700: oklch(0.53 0.199 021.96);
  --ruby-800: oklch(0.44 0.15 021.96);
  --ruby-900: oklch(0.34 0.1 021.96);
  --ruby-950: oklch(0.28 0.071 021.96);

  --red-50: oklch(0.96 0.025 028.3);
  --red-100: oklch(0.91 0.05 028.3);
  --red-200: oklch(0.86 0.09 028.3);
  --red-300: oklch(0.8 0.13 028.3);
  --red-400: oklch(0.74 0.17 028.3);
  --red-500: oklch(0.69 0.21 028.3);
  --red-600: oklch(0.63 0.25 028.3);
  --red-700: oklch(0.54 0.2 028.3);
  --red-800: oklch(0.44 0.15 028.3);
  --red-900: oklch(0.35 0.1 028.3);
  --red-950: oklch(0.29 0.071 028.3);

  --coral-50: oklch(0.96 0.024 034.05);
  --coral-100: oklch(0.92 0.047 034.05);
  --coral-200: oklch(0.86 0.084 034.05);
  --coral-300: oklch(0.81 0.121 034.05);
  --coral-400: oklch(0.75 0.157 034.05);
  --coral-500: oklch(0.7 0.194 034.05);
  --coral-600: oklch(0.65 0.231 034.05);
  --coral-700: oklch(0.55 0.186 034.05);
  --coral-800: oklch(0.45 0.141 034.05);
  --coral-900: oklch(0.35 0.095 034.05);
  --coral-950: oklch(0.29 0.069 034.05);

  --pumpkin-50: oklch(0.96 0.023 039.63);
  --pumpkin-100: oklch(0.92 0.044 039.63);
  --pumpkin-200: oklch(0.87 0.078 039.63);
  --pumpkin-300: oklch(0.82 0.112 039.63);
  --pumpkin-400: oklch(0.77 0.145 039.63);
  --pumpkin-500: oklch(0.73 0.179 039.63);
  --pumpkin-600: oklch(0.68 0.213 039.63);
  --pumpkin-700: oklch(0.57 0.172 039.63);
  --pumpkin-800: oklch(0.46 0.132 039.63);
  --pumpkin-900: oklch(0.36 0.091 039.63);
  --pumpkin-950: oklch(0.29 0.067 039.63);

  --orange-50: oklch(0.96 0.021 045.15);
  --orange-100: oklch(0.93 0.04 045.15);
  --orange-200: oklch(0.88 0.071 045.15);
  --orange-300: oklch(0.84 0.101 045.15);
  --orange-400: oklch(0.8 0.131 045.15);
  --orange-500: oklch(0.76 0.161 045.15);
  --orange-600: oklch(0.71 0.192 045.15);
  --orange-700: oklch(0.6 0.156 045.15);
  --orange-800: oklch(0.48 0.121 045.15);
  --orange-900: oklch(0.37 0.085 045.15);
  --orange-950: oklch(0.29 0.065 045.15);

  --sun-50: oklch(0.96 0.02 059.99);
  --sun-100: oklch(0.93 0.038 059.99);
  --sun-200: oklch(0.9 0.066 059.99);
  --sun-300: oklch(0.86 0.093 059.99);
  --sun-400: oklch(0.83 0.121 059.99);
  --sun-500: oklch(0.79 0.149 059.99);
  --sun-600: oklch(0.76 0.177 059.99);
  --sun-700: oklch(0.63 0.145 059.99);
  --sun-800: oklch(0.5 0.113 059.99);
  --sun-900: oklch(0.38 0.082 059.99);
  --sun-950: oklch(0.3 0.063 059.99);

  --gold-50: oklch(0.96 0.02 075.05);
  --gold-100: oklch(0.94 0.037 075.05);
  --gold-200: oklch(0.92 0.063 075.05);
  --gold-300: oklch(0.89 0.09 075.05);
  --gold-400: oklch(0.86 0.116 075.05);
  --gold-500: oklch(0.83 0.143 075.05);
  --gold-600: oklch(0.81 0.169 075.05);
  --gold-700: oklch(0.67 0.139 075.05);
  --gold-800: oklch(0.53 0.11 075.05);
  --gold-900: oklch(0.39 0.08 075.05);
  --gold-950: oklch(0.3 0.063 075.05);

  --honey-50: oklch(0.97 0.02 090.38);
  --honey-100: oklch(0.95 0.038 090.38);
  --honey-200: oklch(0.94 0.066 090.38);
  --honey-300: oklch(0.92 0.093 090.38);
  --honey-400: oklch(0.9 0.121 090.38);
  --honey-500: oklch(0.88 0.149 090.38);
  --honey-600: oklch(0.87 0.177 090.38);
  --honey-700: oklch(0.71 0.145 090.38);
  --honey-800: oklch(0.56 0.113 090.38);
  --honey-900: oklch(0.4 0.082 090.38);
  --honey-950: oklch(0.31 0.063 090.38);

  --yellow-50: oklch(0.97 0.021 099.38);
  --yellow-100: oklch(0.96 0.039 099.38);
  --yellow-200: oklch(0.95 0.069 099.38);
  --yellow-300: oklch(0.94 0.098 099.38);
  --yellow-400: oklch(0.92 0.128 099.38);
  --yellow-500: oklch(0.91 0.157 099.38);
  --yellow-600: oklch(0.9 0.187 099.38);
  --yellow-700: oklch(0.74 0.153 099.38);
  --yellow-800: oklch(0.58 0.118 099.38);
  --yellow-900: oklch(0.41 0.084 099.38);
  --yellow-950: oklch(0.31 0.064 099.38);

  --lemon-50: oklch(0.97 0.022 109.77);
  --lemon-100: oklch(0.96 0.041 109.77);
  --lemon-200: oklch(0.95 0.073 109.77);
  --lemon-300: oklch(0.94 0.104 109.77);
  --lemon-400: oklch(0.93 0.136 109.77);
  --lemon-500: oklch(0.92 0.167 109.77);
  --lemon-600: oklch(0.91 0.199 109.77);
  --lemon-700: oklch(0.75 0.162 109.77);
  --lemon-800: oklch(0.58 0.124 109.77);
  --lemon-900: oklch(0.42 0.087 109.77);
  --lemon-950: oklch(0.31 0.066 109.77);

  --acid-50: oklch(0.97 0.022 120.14);
  --acid-100: oklch(0.96 0.043 120.14);
  --acid-200: oklch(0.95 0.077 120.14);
  --acid-300: oklch(0.94 0.11 120.14);
  --acid-400: oklch(0.92 0.144 120.14);
  --acid-500: oklch(0.91 0.177 120.14);
  --acid-600: oklch(0.9 0.21 120.14);
  --acid-700: oklch(0.74 0.17 120.14);
  --acid-800: oklch(0.58 0.13 120.14);
  --acid-900: oklch(0.41 0.09 120.14);
  --acid-950: oklch(0.31 0.067 120.14);

  --lime-50: oklch(0.97 0.023 126.66);
  --lime-100: oklch(0.95 0.045 126.66);
  --lime-200: oklch(0.93 0.08 126.66);
  --lime-300: oklch(0.91 0.115 126.66);
  --lime-400: oklch(0.89 0.15 126.66);
  --lime-500: oklch(0.88 0.185 126.66);
  --lime-600: oklch(0.86 0.22 126.66);
  --lime-700: oklch(0.71 0.177 126.66);
  --lime-800: oklch(0.55 0.135 126.66);
  --lime-900: oklch(0.4 0.092 126.66);
  --lime-950: oklch(0.31 0.068 126.66);

  --spring-50: oklch(0.96 0.024 132.97);
  --spring-100: oklch(0.95 0.047 132.97);
  --spring-200: oklch(0.92 0.084 132.97);
  --spring-300: oklch(0.9 0.122 132.97);
  --spring-400: oklch(0.87 0.159 132.97);
  --spring-500: oklch(0.85 0.196 132.97);
  --spring-600: oklch(0.83 0.233 132.97);
  --spring-700: oklch(0.68 0.187 132.97);
  --spring-800: oklch(0.54 0.142 132.97);
  --spring-900: oklch(0.39 0.096 132.97);
  --spring-950: oklch(0.3 0.069 132.97);

  --green-50: oklch(0.96 0.024 137.96);
  --green-100: oklch(0.94 0.048 137.96);
  --green-200: oklch(0.9 0.085 137.96);
  --green-300: oklch(0.87 0.123 137.96);
  --green-400: oklch(0.83 0.161 137.96);
  --green-500: oklch(0.8 0.199 137.96);
  --green-600: oklch(0.77 0.236 137.96);
  --green-700: oklch(0.64 0.19 137.96);
  --green-800: oklch(0.51 0.143 137.96);
  --green-900: oklch(0.38 0.097 137.96);
  --green-950: oklch(0.3 0.07 137.96);

  --emerald-50: oklch(0.96 0.024 142.51);
  --emerald-100: oklch(0.93 0.047 142.51);
  --emerald-200: oklch(0.89 0.083 142.51);
  --emerald-300: oklch(0.85 0.12 142.51);
  --emerald-400: oklch(0.8 0.157 142.51);
  --emerald-500: oklch(0.76 0.193 142.51);
  --emerald-600: oklch(0.72 0.23 142.51);
  --emerald-700: oklch(0.6 0.185 142.51);
  --emerald-800: oklch(0.49 0.14 142.51);
  --emerald-900: oklch(0.37 0.095 142.51);
  --emerald-950: oklch(0.29 0.069 142.51);

  --jade-50: oklch(0.96 0.022 147.5);
  --jade-100: oklch(0.92 0.042 147.5);
  --jade-200: oklch(0.87 0.074 147.5);
  --jade-300: oklch(0.83 0.105 147.5);
  --jade-400: oklch(0.78 0.137 147.5);
  --jade-500: oklch(0.73 0.169 147.5);
  --jade-600: oklch(0.68 0.201 147.5);
  --jade-700: oklch(0.58 0.163 147.5);
  --jade-800: oklch(0.47 0.125 147.5);
  --jade-900: oklch(0.36 0.088 147.5);
  --jade-950: oklch(0.29 0.066 147.5);

  --forest-50: oklch(0.96 0.02 153.21);
  --forest-100: oklch(0.92 0.038 153.21);
  --forest-200: oklch(0.88 0.066 153.21);
  --forest-300: oklch(0.83 0.094 153.21);
  --forest-400: oklch(0.79 0.122 153.21);
  --forest-500: oklch(0.74 0.15 153.21);
  --forest-600: oklch(0.69 0.178 153.21);
  --forest-700: oklch(0.58 0.146 153.21);
  --forest-800: oklch(0.47 0.114 153.21);
  --forest-900: oklch(0.36 0.082 153.21);
  --forest-950: oklch(0.29 0.063 153.21);

  --leaf-50: oklch(0.96 0.02 159.11);
  --leaf-100: oklch(0.93 0.036 159.11);
  --leaf-200: oklch(0.89 0.062 159.11);
  --leaf-300: oklch(0.85 0.088 159.11);
  --leaf-400: oklch(0.8 0.114 159.11);
  --leaf-500: oklch(0.76 0.139 159.11);
  --leaf-600: oklch(0.72 0.165 159.11);
  --leaf-700: oklch(0.6 0.136 159.11);
  --leaf-800: oklch(0.49 0.108 159.11);
  --leaf-900: oklch(0.37 0.079 159.11);
  --leaf-950: oklch(0.29 0.062 159.11);

  --teal-50: oklch(0.96 0.019 164.97);
  --teal-100: oklch(0.94 0.035 164.97);
  --teal-200: oklch(0.9 0.06 164.97);
  --teal-300: oklch(0.87 0.085 164.97);
  --teal-400: oklch(0.84 0.11 164.97);
  --teal-500: oklch(0.8 0.135 164.97);
  --teal-600: oklch(0.77 0.16 164.97);
  --teal-700: oklch(0.64 0.133 164.97);
  --teal-800: oklch(0.51 0.105 164.97);
  --teal-900: oklch(0.38 0.078 164.97);
  --teal-950: oklch(0.3 0.062 164.97);

  --cyan-50: oklch(0.96 0.019 179.78);
  --cyan-100: oklch(0.95 0.034 179.78);
  --cyan-200: oklch(0.92 0.057 179.78);
  --cyan-300: oklch(0.9 0.081 179.78);
  --cyan-400: oklch(0.88 0.104 179.78);
  --cyan-500: oklch(0.85 0.128 179.78);
  --cyan-600: oklch(0.83 0.151 179.78);
  --cyan-700: oklch(0.69 0.126 179.78);
  --cyan-800: oklch(0.54 0.101 179.78);
  --cyan-900: oklch(0.4 0.075 179.78);
  --cyan-950: oklch(0.3 0.061 179.78);

  --aqua-50: oklch(0.97 0.018 195.32);
  --aqua-100: oklch(0.95 0.033 195.32);
  --aqua-200: oklch(0.93 0.055 195.32);
  --aqua-300: oklch(0.91 0.078 195.32);
  --aqua-400: oklch(0.9 0.101 195.32);
  --aqua-500: oklch(0.88 0.124 195.32);
  --aqua-600: oklch(0.86 0.146 195.32);
  --aqua-700: oklch(0.71 0.122 195.32);
  --aqua-800: oklch(0.55 0.098 195.32);
  --aqua-900: oklch(0.4 0.074 195.32);
  --aqua-950: oklch(0.31 0.06 195.32);

  --robin-50: oklch(0.96 0.018 210);
  --robin-100: oklch(0.95 0.032 210);
  --robin-200: oklch(0.93 0.055 210);
  --robin-300: oklch(0.9 0.077 210);
  --robin-400: oklch(0.88 0.1 210);
  --robin-500: oklch(0.86 0.122 210);
  --robin-600: oklch(0.84 0.145 210);
  --robin-700: oklch(0.69 0.121 210);
  --robin-800: oklch(0.54 0.097 210);
  --robin-900: oklch(0.4 0.074 210);
  --robin-950: oklch(0.3 0.06 210);

  --azure-50: oklch(0.96 0.018 225.03);
  --azure-100: oklch(0.94 0.033 225.03);
  --azure-200: oklch(0.91 0.056 225.03);
  --azure-300: oklch(0.88 0.079 225.03);
  --azure-400: oklch(0.85 0.102 225.03);
  --azure-500: oklch(0.81 0.125 225.03);
  --azure-600: oklch(0.78 0.147 225.03);
  --azure-700: oklch(0.65 0.123 225.03);
  --azure-800: oklch(0.52 0.099 225.03);
  --azure-900: oklch(0.38 0.074 225.03);
  --azure-950: oklch(0.3 0.06 225.03);

  --sky-50: oklch(0.96 0.019 240.02);
  --sky-100: oklch(0.93 0.036 240.02);
  --sky-200: oklch(0.89 0.061 240.02);
  --sky-300: oklch(0.84 0.087 240.02);
  --sky-400: oklch(0.8 0.112 240.02);
  --sky-500: oklch(0.76 0.138 240.02);
  --sky-600: oklch(0.72 0.163 240.02);
  --sky-700: oklch(0.6 0.135 240.02);
  --sky-800: oklch(0.48 0.107 240.02);
  --sky-900: oklch(0.37 0.078 240.02);
  --sky-950: oklch(0.29 0.062 240.02);

  --blue-50: oklch(0.96 0.022 255.03);
  --blue-100: oklch(0.91 0.042 255.03);
  --blue-200: oklch(0.85 0.075 255.03);
  --blue-300: oklch(0.8 0.107 255.03);
  --blue-400: oklch(0.74 0.14 255.03);
  --blue-500: oklch(0.68 0.172 255.03);
  --blue-600: oklch(0.62 0.205 255.03);
  --blue-700: oklch(0.53 0.166 255.03);
  --blue-800: oklch(0.44 0.127 255.03);
  --blue-900: oklch(0.34 0.089 255.03);
  --blue-950: oklch(0.28 0.066 255.03);

  --cobalt-50: oklch(0.95 0.023 262.06);
  --cobalt-100: oklch(0.91 0.046 262.06);
  --cobalt-200: oklch(0.84 0.082 262.06);
  --cobalt-300: oklch(0.78 0.119 262.06);
  --cobalt-400: oklch(0.71 0.155 262.06);
  --cobalt-500: oklch(0.65 0.191 262.06);
  --cobalt-600: oklch(0.58 0.227 262.06);
  --cobalt-700: oklch(0.5 0.183 262.06);
  --cobalt-800: oklch(0.42 0.139 262.06);
  --cobalt-900: oklch(0.33 0.094 262.06);
  --cobalt-950: oklch(0.28 0.069 262.06);

  --sapphire-50: oklch(0.95 0.024 269.93);
  --sapphire-100: oklch(0.9 0.048 269.93);
  --sapphire-200: oklch(0.83 0.087 269.93);
  --sapphire-300: oklch(0.76 0.125 269.93);
  --sapphire-400: oklch(0.69 0.163 269.93);
  --sapphire-500: oklch(0.62 0.201 269.93);
  --sapphire-600: oklch(0.55 0.24 269.93);
  --sapphire-700: oklch(0.47 0.192 269.93);
  --sapphire-800: oklch(0.4 0.145 269.93);
  --sapphire-900: oklch(0.32 0.097 269.93);
  --sapphire-950: oklch(0.28 0.07 269.93);

  --indigo-50: oklch(0.95 0.025 277.83);
  --indigo-100: oklch(0.9 0.051 277.83);
  --indigo-200: oklch(0.83 0.091 277.83);
  --indigo-300: oklch(0.76 0.132 277.83);
  --indigo-400: oklch(0.69 0.173 277.83);
  --indigo-500: oklch(0.62 0.214 277.83);
  --indigo-600: oklch(0.55 0.254 277.83);
  --indigo-700: oklch(0.47 0.203 277.83);
  --indigo-800: oklch(0.4 0.152 277.83);
  --indigo-900: oklch(0.32 0.101 277.83);
  --indigo-950: oklch(0.28 0.071 277.83);

  --lavender-50: oklch(0.95 0.025 285.02);
  --lavender-100: oklch(0.9 0.052 285.02);
  --lavender-200: oklch(0.83 0.094 285.02);
  --lavender-300: oklch(0.76 0.135 285.02);
  --lavender-400: oklch(0.69 0.177 285.02);
  --lavender-500: oklch(0.62 0.219 285.02);
  --lavender-600: oklch(0.55 0.261 285.02);
  --lavender-700: oklch(0.48 0.208 285.02);
  --lavender-800: oklch(0.4 0.155 285.02);
  --lavender-900: oklch(0.33 0.103 285.02);
  --lavender-950: oklch(0.28 0.072 285.02);

  --purple-50: oklch(0.95 0.026 299.88);
  --purple-100: oklch(0.9 0.054 299.88);
  --purple-200: oklch(0.84 0.099 299.88);
  --purple-300: oklch(0.77 0.143 299.88);
  --purple-400: oklch(0.71 0.188 299.88);
  --purple-500: oklch(0.64 0.232 299.88);
  --purple-600: oklch(0.58 0.276 299.88);
  --purple-700: oklch(0.49 0.22 299.88);
  --purple-800: oklch(0.41 0.163 299.88);
  --purple-900: oklch(0.33 0.107 299.88);
  --purple-950: oklch(0.28 0.074 299.88);

  --violet-50: oklch(0.96 0.028 315.01);
  --violet-100: oklch(0.91 0.059 315.01);
  --violet-200: oklch(0.85 0.108 315.01);
  --violet-300: oklch(0.79 0.157 315.01);
  --violet-400: oklch(0.74 0.206 315.01);
  --violet-500: oklch(0.68 0.255 315.01);
  --violet-600: oklch(0.62 0.304 315.01);
  --violet-700: oklch(0.53 0.241 315.01);
  --violet-800: oklch(0.43 0.177 315.01);
  --violet-900: oklch(0.34 0.114 315.01);
  --violet-950: oklch(0.28 0.077 315.01);

  --pink-50: oklch(0.96 0.028 328.11);
  --pink-100: oklch(0.92 0.058 328.11);
  --pink-200: oklch(0.87 0.107 328.11);
  --pink-300: oklch(0.81 0.155 328.11);
  --pink-400: oklch(0.76 0.204 328.11);
  --pink-500: oklch(0.71 0.252 328.11);
  --pink-600: oklch(0.66 0.301 328.11);
  --pink-700: oklch(0.56 0.238 328.11);
  --pink-800: oklch(0.45 0.175 328.11);
  --pink-900: oklch(0.35 0.113 328.11);
  --pink-950: oklch(0.29 0.076 328.11);

  --magenta-50: oklch(0.96 0.027 345.05);
  --magenta-100: oklch(0.92 0.055 345.05);
  --magenta-200: oklch(0.87 0.1 345.05);
  --magenta-300: oklch(0.82 0.146 345.05);
  --magenta-400: oklch(0.77 0.191 345.05);
  --magenta-500: oklch(0.71 0.236 345.05);
  --magenta-600: oklch(0.66 0.281 345.05);
  --magenta-700: oklch(0.56 0.224 345.05);
  --magenta-800: oklch(0.46 0.166 345.05);
  --magenta-900: oklch(0.35 0.108 345.05);
  --magenta-950: oklch(0.29 0.074 345.05);

  --brick-50: oklch(0.98 0.002 354.96);
  --brick-100: oklch(0.94 0.003 354.96);
  --brick-200: oklch(0.85 0.004 354.96);
  --brick-300: oklch(0.77 0.005 354.96);
  --brick-400: oklch(0.68 0.007 354.96);
  --brick-500: oklch(0.6 0.008 354.96);
  --brick-600: oklch(0.51 0.007 354.96);
  --brick-700: oklch(0.42 0.007 354.96);
  --brick-800: oklch(0.33 0.006 354.96);
  --brick-900: oklch(0.24 0.005 354.96);
  --brick-950: oklch(0.2 0.005 354.96);

  --rust-50: oklch(0.98 0.002 031.06);
  --rust-100: oklch(0.94 0.002 031.06);
  --rust-200: oklch(0.85 0.003 031.06);
  --rust-300: oklch(0.77 0.004 031.06);
  --rust-400: oklch(0.68 0.005 031.06);
  --rust-500: oklch(0.6 0.006 031.06);
  --rust-600: oklch(0.51 0.006 031.06);
  --rust-700: oklch(0.42 0.006 031.06);
  --rust-800: oklch(0.33 0.005 031.06);
  --rust-900: oklch(0.24 0.005 031.06);
  --rust-950: oklch(0.2 0.005 031.06);

  --beige-50: oklch(0.98 0.002 084.58);
  --beige-100: oklch(0.94 0.002 084.58);
  --beige-200: oklch(0.85 0.003 084.58);
  --beige-300: oklch(0.77 0.004 084.58);
  --beige-400: oklch(0.68 0.005 084.58);
  --beige-500: oklch(0.6 0.006 084.58);
  --beige-600: oklch(0.51 0.006 084.58);
  --beige-700: oklch(0.42 0.006 084.58);
  --beige-800: oklch(0.33 0.005 084.58);
  --beige-900: oklch(0.24 0.005 084.58);
  --beige-950: oklch(0.2 0.005 084.58);

  --olive-50: oklch(0.98 0.002 124.53);
  --olive-100: oklch(0.94 0.003 124.53);
  --olive-200: oklch(0.85 0.004 124.53);
  --olive-300: oklch(0.77 0.005 124.53);
  --olive-400: oklch(0.68 0.007 124.53);
  --olive-500: oklch(0.6 0.008 124.53);
  --olive-600: oklch(0.51 0.007 124.53);
  --olive-700: oklch(0.42 0.007 124.53);
  --olive-800: oklch(0.33 0.006 124.53);
  --olive-900: oklch(0.24 0.005 124.53);
  --olive-950: oklch(0.2 0.005 124.53);

  --moss-50: oklch(0.98 0.002 153.69);
  --moss-100: oklch(0.94 0.003 153.69);
  --moss-200: oklch(0.85 0.004 153.69);
  --moss-300: oklch(0.77 0.005 153.69);
  --moss-400: oklch(0.68 0.006 153.69);
  --moss-500: oklch(0.6 0.007 153.69);
  --moss-600: oklch(0.51 0.006 153.69);
  --moss-700: oklch(0.42 0.006 153.69);
  --moss-800: oklch(0.33 0.006 153.69);
  --moss-900: oklch(0.24 0.005 153.69);
  --moss-950: oklch(0.2 0.005 153.69);

  --zinc-50: oklch(0.98 0.002 174.21);
  --zinc-100: oklch(0.94 0.003 174.21);
  --zinc-200: oklch(0.85 0.004 174.21);
  --zinc-300: oklch(0.77 0.005 174.21);
  --zinc-400: oklch(0.69 0.006 174.21);
  --zinc-500: oklch(0.6 0.008 174.21);
  --zinc-600: oklch(0.51 0.007 174.21);
  --zinc-700: oklch(0.42 0.007 174.21);
  --zinc-800: oklch(0.33 0.006 174.21);
  --zinc-900: oklch(0.24 0.005 174.21);
  --zinc-950: oklch(0.2 0.005 174.21);

  --gray-50: oklch(0.98 0.002 211.04);
  --gray-100: oklch(0.94 0.002 211.04);
  --gray-200: oklch(0.85 0.003 211.04);
  --gray-300: oklch(0.77 0.004 211.04);
  --gray-400: oklch(0.68 0.005 211.04);
  --gray-500: oklch(0.6 0.006 211.04);
  --gray-600: oklch(0.51 0.006 211.04);
  --gray-700: oklch(0.42 0.006 211.04);
  --gray-800: oklch(0.33 0.005 211.04);
  --gray-900: oklch(0.24 0.005 211.04);
  --gray-950: oklch(0.2 0.005 211.04);

  --slate-50: oklch(0.98 0.002 239.89);
  --slate-100: oklch(0.94 0.003 239.89);
  --slate-200: oklch(0.85 0.004 239.89);
  --slate-300: oklch(0.77 0.005 239.89);
  --slate-400: oklch(0.69 0.006 239.89);
  --slate-500: oklch(0.6 0.007 239.89);
  --slate-600: oklch(0.51 0.006 239.89);
  --slate-700: oklch(0.42 0.006 239.89);
  --slate-800: oklch(0.33 0.006 239.89);
  --slate-900: oklch(0.24 0.005 239.89);
  --slate-950: oklch(0.2 0.005 239.89);

  --stone-50: oklch(0.98 0.002 264.52);
  --stone-100: oklch(0.94 0.002 264.52);
  --stone-200: oklch(0.85 0.003 264.52);
  --stone-300: oklch(0.77 0.004 264.52);
  --stone-400: oklch(0.68 0.005 264.52);
  --stone-500: oklch(0.6 0.006 264.52);
  --stone-600: oklch(0.51 0.006 264.52);
  --stone-700: oklch(0.42 0.006 264.52);
  --stone-800: oklch(0.33 0.005 264.52);
  --stone-900: oklch(0.24 0.005 264.52);
  --stone-950: oklch(0.2 0.005 264.52);

  --ash-50: oklch(0.98 0.002 304.16);
  --ash-100: oklch(0.94 0.003 304.16);
  --ash-200: oklch(0.85 0.004 304.16);
  --ash-300: oklch(0.77 0.005 304.16);
  --ash-400: oklch(0.68 0.007 304.16);
  --ash-500: oklch(0.6 0.008 304.16);
  --ash-600: oklch(0.51 0.007 304.16);
  --ash-700: oklch(0.42 0.007 304.16);
  --ash-800: oklch(0.33 0.006 304.16);
  --ash-900: oklch(0.24 0.005 304.16);
  --ash-950: oklch(0.2 0.005 304.16);

  --white-50: oklch(1 0 000);
  --white-100: oklch(0.97 0 000);
  --white-200: oklch(0.94 0 000);
  --white-300: oklch(0.91 0 000);
  --white-400: oklch(0.88 0 000);
  --white-500: oklch(0.85 0 000);
  --white-600: oklch(0.83 0 000);
  --white-700: oklch(0.81 0 000);
  --white-800: oklch(0.79 0 000);
  --white-900: oklch(0.77 0 000);
  --white-950: oklch(0.75 0 000);

  --black-50: oklch(0.25 0 000);
  --black-100: oklch(0.23 0 000);
  --black-200: oklch(0.22 0 000);
  --black-300: oklch(0.2 0 000);
  --black-400: oklch(0.19 0 000);
  --black-500: oklch(0.17 0 000);
  --black-600: oklch(0.16 0 000);
  --black-700: oklch(0.13 0 000);
  --black-800: oklch(0.1 0 000);
  --black-900: oklch(0.07 0 000);
  --black-950: oklch(0.04 0 000);
}

@theme {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);

  --color-surface-50: var(--surface-50);
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-300: var(--surface-300);
  --color-surface-400: var(--surface-400);
  --color-surface-500: var(--surface-500);
  --color-surface-600: var(--surface-600);
  --color-surface-700: var(--surface-700);
  --color-surface-800: var(--surface-800);
  --color-surface-900: var(--surface-900);
  --color-surface-950: var(--surface-950);

  --color-rose-50: var(--rose-50);
  --color-rose-100: var(--rose-100);
  --color-rose-200: var(--rose-200);
  --color-rose-300: var(--rose-300);
  --color-rose-400: var(--rose-400);
  --color-rose-500: var(--rose-500);
  --color-rose-600: var(--rose-600);
  --color-rose-700: var(--rose-700);
  --color-rose-800: var(--rose-800);
  --color-rose-900: var(--rose-900);
  --color-rose-950: var(--rose-950);

  --color-berry-50: var(--berry-50);
  --color-berry-100: var(--berry-100);
  --color-berry-200: var(--berry-200);
  --color-berry-300: var(--berry-300);
  --color-berry-400: var(--berry-400);
  --color-berry-500: var(--berry-500);
  --color-berry-600: var(--berry-600);
  --color-berry-700: var(--berry-700);
  --color-berry-800: var(--berry-800);
  --color-berry-900: var(--berry-900);
  --color-berry-950: var(--berry-950);

  --color-cherry-50: var(--cherry-50);
  --color-cherry-100: var(--cherry-100);
  --color-cherry-200: var(--cherry-200);
  --color-cherry-300: var(--cherry-300);
  --color-cherry-400: var(--cherry-400);
  --color-cherry-500: var(--cherry-500);
  --color-cherry-600: var(--cherry-600);
  --color-cherry-700: var(--cherry-700);
  --color-cherry-800: var(--cherry-800);
  --color-cherry-900: var(--cherry-900);
  --color-cherry-950: var(--cherry-950);

  --color-ruby-50: var(--ruby-50);
  --color-ruby-100: var(--ruby-100);
  --color-ruby-200: var(--ruby-200);
  --color-ruby-300: var(--ruby-300);
  --color-ruby-400: var(--ruby-400);
  --color-ruby-500: var(--ruby-500);
  --color-ruby-600: var(--ruby-600);
  --color-ruby-700: var(--ruby-700);
  --color-ruby-800: var(--ruby-800);
  --color-ruby-900: var(--ruby-900);
  --color-ruby-950: var(--ruby-950);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-coral-50: var(--coral-50);
  --color-coral-100: var(--coral-100);
  --color-coral-200: var(--coral-200);
  --color-coral-300: var(--coral-300);
  --color-coral-400: var(--coral-400);
  --color-coral-500: var(--coral-500);
  --color-coral-600: var(--coral-600);
  --color-coral-700: var(--coral-700);
  --color-coral-800: var(--coral-800);
  --color-coral-900: var(--coral-900);
  --color-coral-950: var(--coral-950);

  --color-pumpkin-50: var(--pumpkin-50);
  --color-pumpkin-100: var(--pumpkin-100);
  --color-pumpkin-200: var(--pumpkin-200);
  --color-pumpkin-300: var(--pumpkin-300);
  --color-pumpkin-400: var(--pumpkin-400);
  --color-pumpkin-500: var(--pumpkin-500);
  --color-pumpkin-600: var(--pumpkin-600);
  --color-pumpkin-700: var(--pumpkin-700);
  --color-pumpkin-800: var(--pumpkin-800);
  --color-pumpkin-900: var(--pumpkin-900);
  --color-pumpkin-950: var(--pumpkin-950);

  --color-orange-50: var(--orange-50);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-300: var(--orange-300);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-orange-700: var(--orange-700);
  --color-orange-800: var(--orange-800);
  --color-orange-900: var(--orange-900);
  --color-orange-950: var(--orange-950);

  --color-sun-50: var(--sun-50);
  --color-sun-100: var(--sun-100);
  --color-sun-200: var(--sun-200);
  --color-sun-300: var(--sun-300);
  --color-sun-400: var(--sun-400);
  --color-sun-500: var(--sun-500);
  --color-sun-600: var(--sun-600);
  --color-sun-700: var(--sun-700);
  --color-sun-800: var(--sun-800);
  --color-sun-900: var(--sun-900);
  --color-sun-950: var(--sun-950);

  --color-gold-50: var(--gold-50);
  --color-gold-100: var(--gold-100);
  --color-gold-200: var(--gold-200);
  --color-gold-300: var(--gold-300);
  --color-gold-400: var(--gold-400);
  --color-gold-500: var(--gold-500);
  --color-gold-600: var(--gold-600);
  --color-gold-700: var(--gold-700);
  --color-gold-800: var(--gold-800);
  --color-gold-900: var(--gold-900);
  --color-gold-950: var(--gold-950);

  --color-honey-50: var(--honey-50);
  --color-honey-100: var(--honey-100);
  --color-honey-200: var(--honey-200);
  --color-honey-300: var(--honey-300);
  --color-honey-400: var(--honey-400);
  --color-honey-500: var(--honey-500);
  --color-honey-600: var(--honey-600);
  --color-honey-700: var(--honey-700);
  --color-honey-800: var(--honey-800);
  --color-honey-900: var(--honey-900);
  --color-honey-950: var(--honey-950);

  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-950: var(--yellow-950);

  --color-lemon-50: var(--lemon-50);
  --color-lemon-100: var(--lemon-100);
  --color-lemon-200: var(--lemon-200);
  --color-lemon-300: var(--lemon-300);
  --color-lemon-400: var(--lemon-400);
  --color-lemon-500: var(--lemon-500);
  --color-lemon-600: var(--lemon-600);
  --color-lemon-700: var(--lemon-700);
  --color-lemon-800: var(--lemon-800);
  --color-lemon-900: var(--lemon-900);
  --color-lemon-950: var(--lemon-950);

  --color-acid-50: var(--acid-50);
  --color-acid-100: var(--acid-100);
  --color-acid-200: var(--acid-200);
  --color-acid-300: var(--acid-300);
  --color-acid-400: var(--acid-400);
  --color-acid-500: var(--acid-500);
  --color-acid-600: var(--acid-600);
  --color-acid-700: var(--acid-700);
  --color-acid-800: var(--acid-800);
  --color-acid-900: var(--acid-900);
  --color-acid-950: var(--acid-950);

  --color-lime-50: var(--lime-50);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-300: var(--lime-300);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-700: var(--lime-700);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-lime-950: var(--lime-950);

  --color-spring-50: var(--spring-50);
  --color-spring-100: var(--spring-100);
  --color-spring-200: var(--spring-200);
  --color-spring-300: var(--spring-300);
  --color-spring-400: var(--spring-400);
  --color-spring-500: var(--spring-500);
  --color-spring-600: var(--spring-600);
  --color-spring-700: var(--spring-700);
  --color-spring-800: var(--spring-800);
  --color-spring-900: var(--spring-900);
  --color-spring-950: var(--spring-950);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-emerald-50: var(--emerald-50);
  --color-emerald-100: var(--emerald-100);
  --color-emerald-200: var(--emerald-200);
  --color-emerald-300: var(--emerald-300);
  --color-emerald-400: var(--emerald-400);
  --color-emerald-500: var(--emerald-500);
  --color-emerald-600: var(--emerald-600);
  --color-emerald-700: var(--emerald-700);
  --color-emerald-800: var(--emerald-800);
  --color-emerald-900: var(--emerald-900);
  --color-emerald-950: var(--emerald-950);

  --color-jade-50: var(--jade-50);
  --color-jade-100: var(--jade-100);
  --color-jade-200: var(--jade-200);
  --color-jade-300: var(--jade-300);
  --color-jade-400: var(--jade-400);
  --color-jade-500: var(--jade-500);
  --color-jade-600: var(--jade-600);
  --color-jade-700: var(--jade-700);
  --color-jade-800: var(--jade-800);
  --color-jade-900: var(--jade-900);
  --color-jade-950: var(--jade-950);

  --color-forest-50: var(--forest-50);
  --color-forest-100: var(--forest-100);
  --color-forest-200: var(--forest-200);
  --color-forest-300: var(--forest-300);
  --color-forest-400: var(--forest-400);
  --color-forest-500: var(--forest-500);
  --color-forest-600: var(--forest-600);
  --color-forest-700: var(--forest-700);
  --color-forest-800: var(--forest-800);
  --color-forest-900: var(--forest-900);
  --color-forest-950: var(--forest-950);

  --color-leaf-50: var(--leaf-50);
  --color-leaf-100: var(--leaf-100);
  --color-leaf-200: var(--leaf-200);
  --color-leaf-300: var(--leaf-300);
  --color-leaf-400: var(--leaf-400);
  --color-leaf-500: var(--leaf-500);
  --color-leaf-600: var(--leaf-600);
  --color-leaf-700: var(--leaf-700);
  --color-leaf-800: var(--leaf-800);
  --color-leaf-900: var(--leaf-900);
  --color-leaf-950: var(--leaf-950);

  --color-teal-50: var(--teal-50);
  --color-teal-100: var(--teal-100);
  --color-teal-200: var(--teal-200);
  --color-teal-300: var(--teal-300);
  --color-teal-400: var(--teal-400);
  --color-teal-500: var(--teal-500);
  --color-teal-600: var(--teal-600);
  --color-teal-700: var(--teal-700);
  --color-teal-800: var(--teal-800);
  --color-teal-900: var(--teal-900);
  --color-teal-950: var(--teal-950);

  --color-cyan-50: var(--cyan-50);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-cyan-400: var(--cyan-400);
  --color-cyan-500: var(--cyan-500);
  --color-cyan-600: var(--cyan-600);
  --color-cyan-700: var(--cyan-700);
  --color-cyan-800: var(--cyan-800);
  --color-cyan-900: var(--cyan-900);
  --color-cyan-950: var(--cyan-950);

  --color-aqua-50: var(--aqua-50);
  --color-aqua-100: var(--aqua-100);
  --color-aqua-200: var(--aqua-200);
  --color-aqua-300: var(--aqua-300);
  --color-aqua-400: var(--aqua-400);
  --color-aqua-500: var(--aqua-500);
  --color-aqua-600: var(--aqua-600);
  --color-aqua-700: var(--aqua-700);
  --color-aqua-800: var(--aqua-800);
  --color-aqua-900: var(--aqua-900);
  --color-aqua-950: var(--aqua-950);

  --color-robin-50: var(--robin-50);
  --color-robin-100: var(--robin-100);
  --color-robin-200: var(--robin-200);
  --color-robin-300: var(--robin-300);
  --color-robin-400: var(--robin-400);
  --color-robin-500: var(--robin-500);
  --color-robin-600: var(--robin-600);
  --color-robin-700: var(--robin-700);
  --color-robin-800: var(--robin-800);
  --color-robin-900: var(--robin-900);
  --color-robin-950: var(--robin-950);

  --color-azure-50: var(--azure-50);
  --color-azure-100: var(--azure-100);
  --color-azure-200: var(--azure-200);
  --color-azure-300: var(--azure-300);
  --color-azure-400: var(--azure-400);
  --color-azure-500: var(--azure-500);
  --color-azure-600: var(--azure-600);
  --color-azure-700: var(--azure-700);
  --color-azure-800: var(--azure-800);
  --color-azure-900: var(--azure-900);
  --color-azure-950: var(--azure-950);

  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);
  --color-sky-950: var(--sky-950);

  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-950: var(--blue-950);

  --color-cobalt-50: var(--cobalt-50);
  --color-cobalt-100: var(--cobalt-100);
  --color-cobalt-200: var(--cobalt-200);
  --color-cobalt-300: var(--cobalt-300);
  --color-cobalt-400: var(--cobalt-400);
  --color-cobalt-500: var(--cobalt-500);
  --color-cobalt-600: var(--cobalt-600);
  --color-cobalt-700: var(--cobalt-700);
  --color-cobalt-800: var(--cobalt-800);
  --color-cobalt-900: var(--cobalt-900);
  --color-cobalt-950: var(--cobalt-950);

  --color-sapphire-50: var(--sapphire-50);
  --color-sapphire-100: var(--sapphire-100);
  --color-sapphire-200: var(--sapphire-200);
  --color-sapphire-300: var(--sapphire-300);
  --color-sapphire-400: var(--sapphire-400);
  --color-sapphire-500: var(--sapphire-500);
  --color-sapphire-600: var(--sapphire-600);
  --color-sapphire-700: var(--sapphire-700);
  --color-sapphire-800: var(--sapphire-800);
  --color-sapphire-900: var(--sapphire-900);
  --color-sapphire-950: var(--sapphire-950);

  --color-indigo-50: var(--indigo-50);
  --color-indigo-100: var(--indigo-100);
  --color-indigo-200: var(--indigo-200);
  --color-indigo-300: var(--indigo-300);
  --color-indigo-400: var(--indigo-400);
  --color-indigo-500: var(--indigo-500);
  --color-indigo-600: var(--indigo-600);
  --color-indigo-700: var(--indigo-700);
  --color-indigo-800: var(--indigo-800);
  --color-indigo-900: var(--indigo-900);
  --color-indigo-950: var(--indigo-950);

  --color-lavender-50: var(--lavender-50);
  --color-lavender-100: var(--lavender-100);
  --color-lavender-200: var(--lavender-200);
  --color-lavender-300: var(--lavender-300);
  --color-lavender-400: var(--lavender-400);
  --color-lavender-500: var(--lavender-500);
  --color-lavender-600: var(--lavender-600);
  --color-lavender-700: var(--lavender-700);
  --color-lavender-800: var(--lavender-800);
  --color-lavender-900: var(--lavender-900);
  --color-lavender-950: var(--lavender-950);

  --color-purple-50: var(--purple-50);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-950: var(--purple-950);

  --color-violet-50: var(--violet-50);
  --color-violet-100: var(--violet-100);
  --color-violet-200: var(--violet-200);
  --color-violet-300: var(--violet-300);
  --color-violet-400: var(--violet-400);
  --color-violet-500: var(--violet-500);
  --color-violet-600: var(--violet-600);
  --color-violet-700: var(--violet-700);
  --color-violet-800: var(--violet-800);
  --color-violet-900: var(--violet-900);
  --color-violet-950: var(--violet-950);

  --color-pink-50: var(--pink-50);
  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-500: var(--pink-500);
  --color-pink-600: var(--pink-600);
  --color-pink-700: var(--pink-700);
  --color-pink-800: var(--pink-800);
  --color-pink-900: var(--pink-900);
  --color-pink-950: var(--pink-950);

  --color-magenta-50: var(--magenta-50);
  --color-magenta-100: var(--magenta-100);
  --color-magenta-200: var(--magenta-200);
  --color-magenta-300: var(--magenta-300);
  --color-magenta-400: var(--magenta-400);
  --color-magenta-500: var(--magenta-500);
  --color-magenta-600: var(--magenta-600);
  --color-magenta-700: var(--magenta-700);
  --color-magenta-800: var(--magenta-800);
  --color-magenta-900: var(--magenta-900);
  --color-magenta-950: var(--magenta-950);

  --color-brick-50: var(--brick-50);
  --color-brick-100: var(--brick-100);
  --color-brick-200: var(--brick-200);
  --color-brick-300: var(--brick-300);
  --color-brick-400: var(--brick-400);
  --color-brick-500: var(--brick-500);
  --color-brick-600: var(--brick-600);
  --color-brick-700: var(--brick-700);
  --color-brick-800: var(--brick-800);
  --color-brick-900: var(--brick-900);
  --color-brick-950: var(--brick-950);

  --color-rust-50: var(--rust-50);
  --color-rust-100: var(--rust-100);
  --color-rust-200: var(--rust-200);
  --color-rust-300: var(--rust-300);
  --color-rust-400: var(--rust-400);
  --color-rust-500: var(--rust-500);
  --color-rust-600: var(--rust-600);
  --color-rust-700: var(--rust-700);
  --color-rust-800: var(--rust-800);
  --color-rust-900: var(--rust-900);
  --color-rust-950: var(--rust-950);

  --color-beige-50: var(--beige-50);
  --color-beige-100: var(--beige-100);
  --color-beige-200: var(--beige-200);
  --color-beige-300: var(--beige-300);
  --color-beige-400: var(--beige-400);
  --color-beige-500: var(--beige-500);
  --color-beige-600: var(--beige-600);
  --color-beige-700: var(--beige-700);
  --color-beige-800: var(--beige-800);
  --color-beige-900: var(--beige-900);
  --color-beige-950: var(--beige-950);

  --color-olive-50: var(--olive-50);
  --color-olive-100: var(--olive-100);
  --color-olive-200: var(--olive-200);
  --color-olive-300: var(--olive-300);
  --color-olive-400: var(--olive-400);
  --color-olive-500: var(--olive-500);
  --color-olive-600: var(--olive-600);
  --color-olive-700: var(--olive-700);
  --color-olive-800: var(--olive-800);
  --color-olive-900: var(--olive-900);
  --color-olive-950: var(--olive-950);

  --color-moss-50: var(--moss-50);
  --color-moss-100: var(--moss-100);
  --color-moss-200: var(--moss-200);
  --color-moss-300: var(--moss-300);
  --color-moss-400: var(--moss-400);
  --color-moss-500: var(--moss-500);
  --color-moss-600: var(--moss-600);
  --color-moss-700: var(--moss-700);
  --color-moss-800: var(--moss-800);
  --color-moss-900: var(--moss-900);
  --color-moss-950: var(--moss-950);

  --color-zinc-50: var(--zinc-50);
  --color-zinc-100: var(--zinc-100);
  --color-zinc-200: var(--zinc-200);
  --color-zinc-300: var(--zinc-300);
  --color-zinc-400: var(--zinc-400);
  --color-zinc-500: var(--zinc-500);
  --color-zinc-600: var(--zinc-600);
  --color-zinc-700: var(--zinc-700);
  --color-zinc-800: var(--zinc-800);
  --color-zinc-900: var(--zinc-900);
  --color-zinc-950: var(--zinc-950);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-slate-50: var(--slate-50);
  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-600: var(--slate-600);
  --color-slate-700: var(--slate-700);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);
  --color-slate-950: var(--slate-950);

  --color-stone-50: var(--stone-50);
  --color-stone-100: var(--stone-100);
  --color-stone-200: var(--stone-200);
  --color-stone-300: var(--stone-300);
  --color-stone-400: var(--stone-400);
  --color-stone-500: var(--stone-500);
  --color-stone-600: var(--stone-600);
  --color-stone-700: var(--stone-700);
  --color-stone-800: var(--stone-800);
  --color-stone-900: var(--stone-900);
  --color-stone-950: var(--stone-950);

  --color-ash-50: var(--ash-50);
  --color-ash-100: var(--ash-100);
  --color-ash-200: var(--ash-200);
  --color-ash-300: var(--ash-300);
  --color-ash-400: var(--ash-400);
  --color-ash-500: var(--ash-500);
  --color-ash-600: var(--ash-600);
  --color-ash-700: var(--ash-700);
  --color-ash-800: var(--ash-800);
  --color-ash-900: var(--ash-900);
  --color-ash-950: var(--ash-950);

  --color-white-50: var(--white-50);
  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
  --color-white-400: var(--white-400);
  --color-white-500: var(--white-500);
  --color-white-600: var(--white-600);
  --color-white-700: var(--white-700);
  --color-white-800: var(--white-800);
  --color-white-900: var(--white-900);
  --color-white-950: var(--white-950);

  --color-black-50: var(--black-50);
  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);
  --color-black-600: var(--black-600);
  --color-black-700: var(--black-700);
  --color-black-800: var(--black-800);
  --color-black-900: var(--black-900);
  --color-black-950: var(--black-950);

  --color-negative-50: var(--sapphire-50);
  --color-negative-100: var(--sapphire-100);
  --color-negative-200: var(--sapphire-200);
  --color-negative-300: var(--sapphire-300);
  --color-negative-400: var(--sapphire-400);
  --color-negative-500: var(--sapphire-500);
  --color-negative-600: var(--sapphire-600);
  --color-negative-700: var(--sapphire-700);
  --color-negative-800: var(--sapphire-800);
  --color-negative-900: var(--sapphire-900);
  --color-negative-950: var(--sapphire-950);

  --color-negative-51: var(--indigo-50);
  --color-negative-101: var(--indigo-100);
  --color-negative-201: var(--indigo-200);
  --color-negative-301: var(--indigo-300);
  --color-negative-401: var(--indigo-400);
  --color-negative-501: var(--indigo-500);
  --color-negative-601: var(--indigo-600);
  --color-negative-701: var(--indigo-700);
  --color-negative-801: var(--indigo-800);
  --color-negative-901: var(--indigo-900);
  --color-negative-951: var(--indigo-950);

  --color-false-50: var(--pink-50);
  --color-false-100: var(--pink-100);
  --color-false-200: var(--pink-200);
  --color-false-300: var(--pink-300);
  --color-false-400: var(--pink-400);
  --color-false-500: var(--pink-500);
  --color-false-600: var(--pink-600);
  --color-false-700: var(--pink-700);
  --color-false-800: var(--pink-800);
  --color-false-900: var(--pink-900);
  --color-false-950: var(--pink-950);

  --color-false-51: var(--rose-50);
  --color-false-101: var(--rose-100);
  --color-false-201: var(--rose-200);
  --color-false-301: var(--rose-300);
  --color-false-401: var(--rose-400);
  --color-false-501: var(--rose-500);
  --color-false-601: var(--rose-600);
  --color-false-701: var(--rose-700);
  --color-false-801: var(--rose-800);
  --color-false-901: var(--rose-900);
  --color-false-951: var(--rose-950);

  --color-error-50: var(--red-50);
  --color-error-100: var(--red-100);
  --color-error-200: var(--red-200);
  --color-error-300: var(--red-300);
  --color-error-400: var(--red-400);
  --color-error-500: var(--red-500);
  --color-error-600: var(--red-600);
  --color-error-700: var(--red-700);
  --color-error-800: var(--red-800);
  --color-error-900: var(--red-900);
  --color-error-950: var(--red-950);

  --color-error-51: var(--ruby-50);
  --color-error-101: var(--ruby-100);
  --color-error-201: var(--ruby-200);
  --color-error-301: var(--ruby-300);
  --color-error-401: var(--ruby-400);
  --color-error-501: var(--ruby-500);
  --color-error-601: var(--ruby-600);
  --color-error-701: var(--ruby-700);
  --color-error-801: var(--ruby-800);
  --color-error-901: var(--ruby-900);
  --color-error-951: var(--ruby-950);

  --color-change-50: var(--azure-50);
  --color-change-100: var(--azure-100);
  --color-change-200: var(--azure-200);
  --color-change-300: var(--azure-300);
  --color-change-400: var(--azure-400);
  --color-change-500: var(--azure-500);
  --color-change-600: var(--azure-600);
  --color-change-700: var(--azure-700);
  --color-change-800: var(--azure-800);
  --color-change-900: var(--azure-900);
  --color-change-950: var(--azure-950);

  --color-change-51: var(--blue-50);
  --color-change-101: var(--blue-100);
  --color-change-201: var(--blue-200);
  --color-change-301: var(--blue-300);
  --color-change-401: var(--blue-400);
  --color-change-501: var(--blue-500);
  --color-change-601: var(--blue-600);
  --color-change-701: var(--blue-700);
  --color-change-801: var(--blue-800);
  --color-change-901: var(--blue-900);
  --color-change-951: var(--blue-950);

  --color-success-50: var(--green-50);
  --color-success-100: var(--green-100);
  --color-success-200: var(--green-200);
  --color-success-300: var(--green-300);
  --color-success-400: var(--green-400);
  --color-success-500: var(--green-500);
  --color-success-600: var(--green-600);
  --color-success-700: var(--green-700);
  --color-success-800: var(--green-800);
  --color-success-900: var(--green-900);
  --color-success-950: var(--green-950);

  --color-success-51: var(--emerald-50);
  --color-success-101: var(--emerald-100);
  --color-success-201: var(--emerald-200);
  --color-success-301: var(--emerald-300);
  --color-success-401: var(--emerald-400);
  --color-success-501: var(--emerald-500);
  --color-success-601: var(--emerald-600);
  --color-success-701: var(--emerald-700);
  --color-success-801: var(--emerald-800);
  --color-success-901: var(--emerald-900);
  --color-success-951: var(--emerald-950);

  --color-true-50: var(--aqua-50);
  --color-true-100: var(--aqua-100);
  --color-true-200: var(--aqua-200);
  --color-true-300: var(--aqua-300);
  --color-true-400: var(--aqua-400);
  --color-true-500: var(--aqua-500);
  --color-true-600: var(--aqua-600);
  --color-true-700: var(--aqua-700);
  --color-true-800: var(--aqua-800);
  --color-true-900: var(--aqua-900);
  --color-true-950: var(--aqua-950);

  --color-true-51: var(--teal-50);
  --color-true-101: var(--teal-100);
  --color-true-201: var(--teal-200);
  --color-true-301: var(--teal-300);
  --color-true-401: var(--teal-400);
  --color-true-501: var(--teal-500);
  --color-true-601: var(--teal-600);
  --color-true-701: var(--teal-700);
  --color-true-801: var(--teal-800);
  --color-true-901: var(--teal-900);
  --color-true-951: var(--teal-950);

  --color-out-50: var(--honey-50);
  --color-out-100: var(--honey-100);
  --color-out-200: var(--honey-200);
  --color-out-300: var(--honey-300);
  --color-out-400: var(--honey-400);
  --color-out-500: var(--honey-500);
  --color-out-600: var(--honey-600);
  --color-out-700: var(--honey-700);
  --color-out-800: var(--honey-800);
  --color-out-900: var(--honey-900);
  --color-out-950: var(--honey-950);

  --color-out-51: var(--lemon-50);
  --color-out-101: var(--lemon-100);
  --color-out-201: var(--lemon-200);
  --color-out-301: var(--lemon-300);
  --color-out-401: var(--lemon-400);
  --color-out-501: var(--lemon-500);
  --color-out-601: var(--lemon-600);
  --color-out-701: var(--lemon-700);
  --color-out-801: var(--lemon-800);
  --color-out-901: var(--lemon-900);
  --color-out-951: var(--lemon-950);

  --color-secondary-50: var(--slate-50);
  --color-secondary-100: var(--slate-100);
  --color-secondary-200: var(--slate-200);
  --color-secondary-300: var(--slate-300);
  --color-secondary-400: var(--slate-400);
  --color-secondary-500: var(--slate-500);
  --color-secondary-600: var(--slate-600);
  --color-secondary-700: var(--slate-700);
  --color-secondary-800: var(--slate-800);
  --color-secondary-900: var(--slate-900);
  --color-secondary-950: var(--slate-950);

  --color-secondary-51: var(--stone-50);
  --color-secondary-101: var(--stone-100);
  --color-secondary-201: var(--stone-200);
  --color-secondary-301: var(--stone-300);
  --color-secondary-401: var(--stone-400);
  --color-secondary-501: var(--stone-500);
  --color-secondary-601: var(--stone-600);
  --color-secondary-701: var(--stone-700);
  --color-secondary-801: var(--stone-800);
  --color-secondary-901: var(--stone-900);
  --color-secondary-951: var(--stone-950);

  --color-positive-50: var(--coral-50);
  --color-positive-100: var(--coral-100);
  --color-positive-200: var(--coral-200);
  --color-positive-300: var(--coral-300);
  --color-positive-400: var(--coral-400);
  --color-positive-500: var(--coral-500);
  --color-positive-600: var(--coral-600);
  --color-positive-700: var(--coral-700);
  --color-positive-800: var(--coral-800);
  --color-positive-900: var(--coral-900);
  --color-positive-950: var(--coral-950);

  --color-positive-51: var(--pumpkin-50);
  --color-positive-101: var(--pumpkin-100);
  --color-positive-201: var(--pumpkin-200);
  --color-positive-301: var(--pumpkin-300);
  --color-positive-401: var(--pumpkin-400);
  --color-positive-501: var(--pumpkin-500);
  --color-positive-601: var(--pumpkin-600);
  --color-positive-701: var(--pumpkin-700);
  --color-positive-801: var(--pumpkin-800);
  --color-positive-901: var(--pumpkin-900);
  --color-positive-951: var(--pumpkin-950);

  --color-in-50: var(--lavender-50);
  --color-in-100: var(--lavender-100);
  --color-in-200: var(--lavender-200);
  --color-in-300: var(--lavender-300);
  --color-in-400: var(--lavender-400);
  --color-in-500: var(--lavender-500);
  --color-in-600: var(--lavender-600);
  --color-in-700: var(--lavender-700);
  --color-in-800: var(--lavender-800);
  --color-in-900: var(--lavender-900);
  --color-in-950: var(--lavender-950);

  --color-in-51: var(--violet-50);
  --color-in-101: var(--violet-100);
  --color-in-201: var(--violet-200);
  --color-in-301: var(--violet-300);
  --color-in-401: var(--violet-400);
  --color-in-501: var(--violet-500);
  --color-in-601: var(--violet-600);
  --color-in-701: var(--violet-700);
  --color-in-801: var(--violet-800);
  --color-in-901: var(--violet-900);
  --color-in-951: var(--violet-950);

  --color-link-50: var(--jade-50);
  --color-link-100: var(--jade-100);
  --color-link-200: var(--jade-200);
  --color-link-300: var(--jade-300);
  --color-link-400: var(--jade-400);
  --color-link-500: var(--jade-500);
  --color-link-600: var(--jade-600);
  --color-link-700: var(--jade-700);
  --color-link-800: var(--jade-800);
  --color-link-900: var(--jade-900);
  --color-link-950: var(--jade-950);

  --color-link-51: var(--leaf-50);
  --color-link-101: var(--leaf-100);
  --color-link-201: var(--leaf-200);
  --color-link-301: var(--leaf-300);
  --color-link-401: var(--leaf-400);
  --color-link-501: var(--leaf-500);
  --color-link-601: var(--leaf-600);
  --color-link-701: var(--leaf-700);
  --color-link-801: var(--leaf-800);
  --color-link-901: var(--leaf-900);
  --color-link-951: var(--leaf-950);

  --color-delete-50: var(--cherry-50);
  --color-delete-100: var(--cherry-100);
  --color-delete-200: var(--cherry-200);
  --color-delete-300: var(--cherry-300);
  --color-delete-400: var(--cherry-400);
  --color-delete-500: var(--cherry-500);
  --color-delete-600: var(--cherry-600);
  --color-delete-700: var(--cherry-700);
  --color-delete-800: var(--cherry-800);
  --color-delete-900: var(--cherry-900);
  --color-delete-950: var(--cherry-950);

  --color-delete-51: var(--ruby-50);
  --color-delete-101: var(--ruby-100);
  --color-delete-201: var(--ruby-200);
  --color-delete-301: var(--ruby-300);
  --color-delete-401: var(--ruby-400);
  --color-delete-501: var(--ruby-500);
  --color-delete-601: var(--ruby-600);
  --color-delete-701: var(--ruby-700);
  --color-delete-801: var(--ruby-800);
  --color-delete-901: var(--ruby-900);
  --color-delete-951: var(--ruby-950);

  --color-info-50: var(--azure-50);
  --color-info-100: var(--azure-100);
  --color-info-200: var(--azure-200);
  --color-info-300: var(--azure-300);
  --color-info-400: var(--azure-400);
  --color-info-500: var(--azure-500);
  --color-info-600: var(--azure-600);
  --color-info-700: var(--azure-700);
  --color-info-800: var(--azure-800);
  --color-info-900: var(--azure-900);
  --color-info-950: var(--azure-950);

  --color-info-51: var(--sky-50);
  --color-info-101: var(--sky-100);
  --color-info-201: var(--sky-200);
  --color-info-301: var(--sky-300);
  --color-info-401: var(--sky-400);
  --color-info-501: var(--sky-500);
  --color-info-601: var(--sky-600);
  --color-info-701: var(--sky-700);
  --color-info-801: var(--sky-800);
  --color-info-901: var(--sky-900);
  --color-info-951: var(--sky-950);

  --color-warning-50: var(--yellow-50);
  --color-warning-100: var(--yellow-100);
  --color-warning-200: var(--yellow-200);
  --color-warning-300: var(--yellow-300);
  --color-warning-400: var(--yellow-400);
  --color-warning-500: var(--yellow-500);
  --color-warning-600: var(--yellow-600);
  --color-warning-700: var(--yellow-700);
  --color-warning-800: var(--yellow-800);
  --color-warning-900: var(--yellow-900);
  --color-warning-950: var(--yellow-950);

  --color-warning-51: var(--honey-50);
  --color-warning-101: var(--honey-100);
  --color-warning-201: var(--honey-200);
  --color-warning-301: var(--honey-300);
  --color-warning-401: var(--honey-400);
  --color-warning-501: var(--honey-500);
  --color-warning-601: var(--honey-600);
  --color-warning-701: var(--honey-700);
  --color-warning-801: var(--honey-800);
  --color-warning-901: var(--honey-900);
  --color-warning-951: var(--honey-950);

  --color-primary-50: var(--blue-50);
  --color-primary-100: var(--blue-100);
  --color-primary-200: var(--blue-200);
  --color-primary-300: var(--blue-300);
  --color-primary-400: var(--blue-400);
  --color-primary-500: var(--blue-500);
  --color-primary-600: var(--blue-600);
  --color-primary-700: var(--blue-700);
  --color-primary-800: var(--blue-800);
  --color-primary-900: var(--blue-900);
  --color-primary-950: var(--blue-950);

  --color-primary-51: var(--cobalt-50);
  --color-primary-101: var(--cobalt-100);
  --color-primary-201: var(--cobalt-200);
  --color-primary-301: var(--cobalt-300);
  --color-primary-401: var(--cobalt-400);
  --color-primary-501: var(--cobalt-500);
  --color-primary-601: var(--cobalt-600);
  --color-primary-701: var(--cobalt-700);
  --color-primary-801: var(--cobalt-800);
  --color-primary-901: var(--cobalt-900);
  --color-primary-951: var(--cobalt-950);

  --color-accent-50: var(--orange-50);
  --color-accent-100: var(--orange-100);
  --color-accent-200: var(--orange-200);
  --color-accent-300: var(--orange-300);
  --color-accent-400: var(--orange-400);
  --color-accent-500: var(--orange-500);
  --color-accent-600: var(--orange-600);
  --color-accent-700: var(--orange-700);
  --color-accent-800: var(--orange-800);
  --color-accent-900: var(--orange-900);
  --color-accent-950: var(--orange-950);

  --color-accent-51: var(--sun-50);
  --color-accent-101: var(--sun-100);
  --color-accent-201: var(--sun-200);
  --color-accent-301: var(--sun-300);
  --color-accent-401: var(--sun-400);
  --color-accent-501: var(--sun-500);
  --color-accent-601: var(--sun-600);
  --color-accent-701: var(--sun-700);
  --color-accent-801: var(--sun-800);
  --color-accent-901: var(--sun-900);
  --color-accent-951: var(--sun-950);
}
